@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}
html,body{
    height: 100vh;
    width: 100vw;
}
body{
    padding: 15px 40px;
}
#main{
    height: 100%;
    width: 100%;
}
.nav{
    width: 100%;
    /* height: 25%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav h1.logo{
    color: #8C70BD;
    font-size: 25px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.nav li{
    border-radius: 30px;
    padding: 7px 20px;
    background-color: #8C70BD;
    cursor: pointer;
}
.nav a{
    font-size: 14px;
    user-select: none;
    font-weight: 600;
    text-decoration: none;
    /* color: #737373; */
    color: white;
}
.body{
    margin-top: 25px;
    width: 100%;
    height: 85%;
    display: flex;
    gap: 30px;
}
.b-left{
    background-image: url(./laboratory.png);
    height: 100%;
    width: 55%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
}
.b-right{
    width: 45%;
    padding: 10px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.b-right h1{
    font-weight: 500;
    font-size: 30px;
}
.b-right p{
    font-size: 14px;
    text-wrap: wrap;
}
.b-right .prize {
    color: #8C70BD;
    font-weight: 600;
}
.prize-bar{
    height: 10px;
    width: 100%;
    background-color: #D6F9E4;
    border-radius: 10px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        height: 10px;
        border-radius: 10px;
        width: 85%;
        background-color: #8C70BD;
    }
}
.bar-desc{
    margin-top: 5px;
    font-size: 14px;
}
.time-share{
    margin-top: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.time-patient{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 14px;
}
.time-patient span{
    font-size: 20px;
    font-weight: 500;
}
.share{
    display: flex;
    align-items: center;
    gap: 10px;
}
.share button{
    border: none;
    /* outline: none; */
    padding: 10px 20px;
    border-radius: 20px;
    
}